html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

#main-canvas {
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
